.md-sidebar {
    height: 100% !important;
}

.md-sidebar__scrollwrap {
    height: 100% !important;
    padding: 0 !important;
    top: 0 !important;
}

.md-main {
    height: calc(100vh - 96px) !important;
    overflow: hidden !important;
}

.md-main__inner {
    margin: 0 !important;
}

.md-nav__title {
    display: none;
}

.md-content {
    padding: 1rem 0 !important;
}

.md-content__inner {
    height: 100% !important;
    overflow-y: auto !important;
}

label.md-nav__link {
    color: #ffe055 !important;
    font-weight: bold ! important;
}